{% extends "base.html" %}

{% block title %}
    Class Listing
{% endblock %}

{% block content %}
<table class="table">
	<thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Time</td>
            <td>Location</td>
            <td>Teacher</td>
            <td>Requirements</td>
   		</tr>
   	</thead>
   	<tbody class="table-striped">
        {% for class in classlist %}
        <tr>
            <td>{{ class.pk }}</td>
            <td>{{ class.course.name }}</td>
            <td>{{ class.session.start_time }} - {{class.session.end_time}}</td>
            <td>{{ class.location }}</td>
            <td>{{ class.counselor }}</td>
            <td><a href="{{ class.course.requirements }}">Link</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
