{% extends "base.html" %}

{% block title %}
    Class Listing
{% endblock %}

{% block content %}
<table class="table">
	<thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Time</td>
            <td>Location</td>
            <td>Teacher</td>
            <td>Requirements</td>
   		</tr>
   	</thead>
   	<tbody class="table-striped">
        {% for class in classlist %}
        <tr>
            <td>{{ class.id }}</td>
            <td>{{ class.name }}</td>
            <td>{{ class.time }}</td>
            <td>{{ class.location }}</td>
            <td>{{ class.teacher }}</td>
            <td><a href="{% url class.link class.id %}">Link</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}