{% extends "base.html" %}

{% block title %}
    Class Listing
{% endblock %}

{% block content %}
<br>
<table id="classListTable" class="table table-hover">
	<thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Time</th>
            <th>Location</th>
            <th>Counselor</th>
            <th>Requirements</th>
            <th>Status</th>
   		</tr>
   	</thead>
   	<tbody>
        {% for class in classlist %}
        <tr>
            <td>{{ class.pk }}</td>
            <td>{{ class.course.name }}</td>
            <td>{{ class.timeblock.start_time|date:"h:i A" }} - {{class.timeblock.end_time|date:"h:i A"}}</td>
            <td>{{ class.location }}</td>
            <td>{{ class.counselor }}</td>
            <td><a href="http://meritbadge.org/wiki/index.php/{{ class.course.requirements }}" target="_blank">Link</a></td>
            <td>{{ class.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
  $('#classListTable').dataTable({
    "pageLength": 25,
    "language": {
        searchPlaceholder: "Search..."
    },
    "columnDefs": [
        { "orderable": false, "targets": 5 }
    ],
    "order":[[1, 'asc']]
  });
});
</script>

{% endblock %}
