{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="application/javascript">
        var viewModel = {
            courses: ko.observableArray()
        };
        $.getJSON('/api/courses', function(data) {
            data.courses.forEach(function(course) {
                var start = moment(course.timeblock.start_time).format('hh:mm A');
                var end = moment(course.timeblock.end_time).format('hh:mm A');
                course.time = start + ' - ' + end;
                console.log("time: " + course.time);
                viewModel.courses.push(course);
            })
        });
        ko.applyBindings(viewModel);
    </script>
{% endblock %}
{% block content %}
    <div data-bind="text: name"></div>
    <div class="row schedule">
        <div class="col-md-7">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Class Name</th>
                  </tr>
                </thead>
                <tbody>
                    {% for enrollment in data.enrollments %}
                    <tr>
                        <td>{{ enrollment.start_time }} - {{ enrollment.end_time }}</td>
                        <td class="class-schedule-droppable">{{ enrollment.course.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-5 class-list courses-droppable">
            <div data-bind="foreach:courses">
                <div class="row class-draggable">
                    <div class="course-icon">
                        <img data-bind="attr: {'src': '/static/images/badges/' + course.image_name}" class="mb-course"/>
                    </div>
                    <div class="course-desc">
                        <div data-bind="text: course.name"></div>
                        <div data-bind="text: time"></div>
                        <div data-bind="text: location"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
        
{% endblock %}
