{% extends 'base.html' %}

{% block content %}
    <div>
        <form method="post" action="./">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Submit" />
        </form>
    </div>

    <div id="dropzone-div">
        <div id="course-catalog-dropzone" class="course-dropzones">
            <h3>Course Catalog</h3>
            <ul id="catalog-course-list">
                {% for course_instance in course_catalog %}
                    <li class="draggable-course">
                        {{ course_instance.course }}<br>
                        {{ course_instance.session }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="added-course-dropzone" class="course-dropzones">
            <h3>Enrolled Courses</h3>
            <ul id="added-course-list">
                {% for course_enrollment in course_enrollments %}
                    <li class="draggable-course">
                        {{ course_enrollment.course }}<br>
                        {{ course_enrollment.session }}
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}
