{% extends 'base.html' %}

{% block content %}
    <div class="add-edit-container panel panel-default">
        <div class="panel-heading">Hello!</div>
        <div class="panel-body">
            <form method="post" action="./">
                {% csrf_token %}

                <div id="added-course-dropzone" class="course-dropzones">
                    <div class="row">
                    <div class="col-xs-7">
                        <h3>Enrolled Courses</h3>
                    </div>
                        <div class="col-xs-5">
                        <h3>Course Catalog</h3>
                    </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-2">
                                <div class="add-edit-session">Session 1</div>
                                <div class="add-edit-session">Session 2</div>
                                <div class="add-edit-session">Lunch</div>
                                <div class="add-edit-session">Session 3</div>
                                <div class="add-edit-session">Session 4</div>
                            </div>
                            <div class="col-xs-5">
                                <div class="add-edit-instance"></div>
                                <div class="add-edit-instance"></div>
                                <div class="add-edit-lunch"></div>
                                <div class="add-edit-instance"></div>
                                <div class="add-edit-instance"></div>
                            </div>
                        <div class="col-xs-5 add-edit-available">
                            <ul id="course-catalog-list">
                                {% for course_instance in course_catalog %}
                                    <li id="{{ course_instance.id }}" class="draggable-course">
                                        {{ course_instance.course }}<br>
                                        {{ course_instance.session }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}
