{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Frequently Asked Questions
{% endblock %}

{% block content %}
<br>
<h3>How do I enroll in classes?</h3>
<p>
    First navigate to the Add/Edit classes page.  There are a few different ways to get there:
    <ul>
        <li>If you are a Scout, you should have a link at the top of your page that says "Add/Edit Classes"</li>
        <li>If you are a Scoutmaster or Parent, once you expand a scout by clicking on them you should see a link that says "Edit Scout Schedule "</li>
    </ul>
    Once on the Add/Edit classes page, the available classes will load up on the right hand side.  In order to add them to 
    the schedule, grab them with the mouse and drag them to the appropriate time slot on the left.  Once you have the
    schedule set the way you want it, click the submit button.  You should see a check mark after a second or two indicating
    that the schedule has been saved.  Once you navigate back to your home page you should see the classes you just
    enrolled in show up there.
</p>
<br>
<h3>I am a parent and I don't see where I can accept the liability waiver on behalf of my scout -- where is it?</h3>
<p>
    As a parent you should see a link at the top of your page that says "Reports."  One of the reports available is
    the "Waivers" report.  On this page, you will see a list of yor Scouts along with the status of their Waivers.
    You can directly accept the waiver for each of your scouts on this page.  Please be sure to read the
    <a href="{% static 'documents/waiver.pdf' %}">Consent and Waiver</a> form prior to clicking the checkbox.
</p>
<br>
<h3>Who do I contact if I have problems with the website?</h3>
<p>
    If you encounter any issues with the website please email <a href="mailto:support@utmbu.org">support@utmbu.org</a>.
    Please include in your message the following:
    <ul>
        <li>A description of the problem</li>
        <li>The web browser (i.e. Chrome, Internet Explorer, Firefox, Safari, etc...) you are using</li>
        <li>The best way to contact you</li>
        <li>The best time to contact you</li>
    </ul>
</p>
{% endblock %}
