{% extends 'base.html' %}

{% block hero %}
    <div class="jumbotron hero-image"></div>
{% endblock %}
{% block header %}
{%  endblock %}
{% block container %}
    <div class="container">
            {% block content %}

                <h1>Hello, Scouts, Scoutmasters, and Parents!</h1>
                <p>Welcome to the University of Texas Merit Badge University Registration website!</p>
                <p>
                    <a class="btn btn-primary btn-lg btn-warning" href="{% url 'login' %}" role="button">Login or Register</a>
                </p>
                <p>Registration for 2017 MBU opens November 1st, 2016.</p>
                <p>Registration closes January 7th, 2017 at 5pm CST.</p>
            {% endblock content %}
        </div>
{% endblock container %}