{% extends 'base.html' %}

{% block hero %}
    <div class="jumbotron hero-image"></div>
{% endblock %}
{% block header %}
{%  endblock %}
{% block container %}
    <div class="container">
            {% block content %}

                <h1>Hello, scouts!</h1>
                <p>Welcome to the University of Texas Merit Badge University Registration website!</p>
                <p>
                    <a class="btn btn-primary btn-lg btn-warning" href="{% url 'login' %}" role="button">Login or Register</a>
                </p>
            {% endblock content %}
        </div>
{% endblock container %}