{% extends 'base.html' %}
{% block content %}
	<div class="row">
        <div class="col-md-3" role="navigation">
            <ul class="nav nav-pills nav-stacked">
                {% for report_link in report_links %}
                    <li>
                        <a href="{% url report_link.href %}">{{ report_link.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% block report %}
            {% endblock report %}
        </div>
    </div>
{% endblock content %}