{% extends 'base.html' %}
{% block content %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Payments</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Tracking Number</th>
                            <th>Amount</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                            <tr>
                                <td>{{ payment.tracking_number }}</td>
                                <td>{{ payment.amount }}</td>
                                <td>{{ payment.timestamp }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">No payments made</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}