{% extends 'mbu/home.html' %}
{% block content %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>Course Name</td>
                    <td>Session</td>
                    <td>Start Time</td>
                    <td>End Time</td>
                </tr>
            </thead>
            <tbody class="table-striped">
                {% for course in enrollments %}
                    <tr>
                        <td>{{ course.course.name }}</td>
                        <td>{{ course.timeblock.name }}</td>
                        <td>{{ course.timeblock.start_time|date:"h:i A" }}</td>
                        <td>{{ course.timeblock.end_time|date:"h:i A" }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            No course enrollments<br><br>
                            <a href="{% url 'scout_edit_classes' %}"><button class="btn-primary">Click here to enroll</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
