{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="well col-xs-4 col-xs-offset-4 first-div">

        <form method="post" {% block form_action %}action="{% url 'mbu.views.signup' %}"{% endblock %}>
            <h1>Sign Up</h1>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class+='form-control' %}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <div class="loginError"></div>
            <div class="formFooter"></div>
            <div class="formFooterButtons">
                <button class="btn btn-primary center-block"><span>Register</span></button>
            </div>
            <input type="hidden" value="{{ next }}" name="next"/>

        </form>
    </div>
{% endblock %}