.social-login-container {
    text-align: center;
}

.social-login {
    margin: 0 auto;
}
.social-login .facebook, 
.social-login .googleplus {
    border-radius: 5px;
    width: 200px;
}

.social-login .login-icons {
    font-size: 2.5em;
    margin-right: 4px;
}


.center {
    justify: center;
}

.center-text {
    text-align: center;
}

.fill-height {
    height: 100vh;
}

.float-right {
    float: right;
}


/* Select user type screen */

.pick-user-type-button {
    width: 170px;
    height: 40px;
    position: relative;
    top: 260px;
}

.user-type-page {
    position: relative;
    top: 100px;
}

.hero-image {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/e/e5/Boy_Scouts_of_America_corporate_trademark.svg/890px-Boy_Scouts_of_America_corporate_trademark.svg.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#added-classes-dropzone {
    float: right;
}

.draggable-course {
    background-color: #c12e2a;
    width: 250px;
    height: 50px;
    position: absolute;
    top: 125px;
    left: 25px;
}

#dropzone-div {
    position: relative;
}

.course-dropzones {
    background-color: #a6e1ec;
    width: 300px;
    height: 600px;
    margin: 100px 0;
    display: inline-block;
}