html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.social-login-container {
    text-align: center;
}

.social-login {
    margin: 0 auto;
    width: 90%;
    justify-items: center;
    justify-content: center;
    justify-self: center;
}
.social-login .facebook, 
.social-login .googleplus {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    width: 95%;
    color: #fff;
}
.social-login a {
    padding-left: 0.4em;
    padding-right: 0;
    text-align: left;
    height: 3.0em;
}

.social-login .facebook {
    background-color: #3b5998;
}
.social-login .googleplus {
    background-color: #dd4b39;
}

.social-login .social-icon {
    text-align: left;
    width: 3.5em;
    display: inline-block;
    vertical-align: middle;
}

.social-login .social-text {
    height: 100%;
    text-align: left;
    display: inline-block;
    font-weight: 300;
}

.social-login .login-icons {
    font-size: 2.5em;
    margin-right: 6px;
}

.fa {
    color: white;
}

.facebook{
    background-color: #3b5998;
    font-weight: 600;
}

.googleplus {
    background-color: #dc4e41;
    font-weight: 600;
}

hr {
    border-top: 1px solid #aaa;
}

.center {
    justify: center;
}

.center-text {
    text-align: center;
}

.fill-height {
    height: 100vh;
}

.float-right {
    float: right;
}


/* Select user type screen */

.pick-user-type-button {
    width: 170px;
    height: 40px;
    position: relative;
    top: 260px;
}

.user-type-page {
    position: relative;
    top: 100px;
}

.hero-image {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/e/e5/Boy_Scouts_of_America_corporate_trademark.svg/890px-Boy_Scouts_of_America_corporate_trademark.svg.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}

.first-div{
    margin-top: 30px;
}

.mbu-navbar {
    margin-bottom: 0px;
}

/* dropzone styling */


.schedule {
    
}

.schedule .class-list {
    overflow-y: scroll;
}

.schedule .button {
    
}