.login-facebook, 
.login-google {
    height: 36px;
    border-radius: 15px;
    width: 200px;
}

.login-google {
    height: 40px;
}

.btn-facebook {
    background: linear-gradient(#5676BC, #31497B) repeat scroll 0% 0% transparent;
    border-width: 1px;
    border-style: solid;
    border-right: 1px solid #293E69;
    border-color: #31497B #293E69 #293E69;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: #444;
    text-shadow: 0px 1px #FFF;
}
.center {
    justify: center;
}

.center-text {
    text-align: center;
}

.fill-height {
    height: 100vh;
}

.float-right {
    float: right;
}


/* Select user type screen */

.pick-user-type-button {
    width: 170px;
    height: 40px;
    position: relative;
    top: 260px;
}

.user-type-page {
    position: relative;
    top: 100px;
}

.hero-image {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/e/e5/Boy_Scouts_of_America_corporate_trademark.svg/890px-Boy_Scouts_of_America_corporate_trademark.svg.png");
    background-repeat: no-repeat;
    background-position: center center;
}