{% load staticfiles %}
<!doctype html>
<html>
<head>
<title>{% block title %}Merit Badge University{% endblock %}</title>
</head>
<body>
    {% block header %}
    <div id="header">
        <div class="row">
            <div class="col-md-10">
                <h1>Header</h1>
                {{ message }}
            </div>
            <div id="user-options" class="col-md-2">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                {% else  %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
        {% block navbar %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                {% for link in links %}
                    <li><a href="{% url link.href %}">{{ link.label }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </nav>
        {% endblock %}
    </div>
    {% endblock %}
    {% block content %}{% endblock %}
</body>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}"/>
{% block links %} {% endblock %}
</html>
