{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    <h1>Log In</h1>
        {% csrf_token %}

        <div class="socialLogin">
            <a href="/login/facebook"><img class="facebook" src="{% static "images/fb-login-icon.png" %}"></a>
            <a href="/login/google-plus"><img class="google" src="{% static "images/Red-signin_Long_base_44dp.png" %}"></a>
        </div>

        <div>{{ form.username.label_tag }}</div>
        <div>{{ form.username }}</div>

        <div>{{ form.password.label_tag }}</div>
        <div>{{ form.password }}</div>

        <div class="loginError"></div>
        <div class="formFooter">
        <div class="formFooterButtons"><button type="submit"><span>Log In</span></button></div>
        <input type="hidden" value="{{next}}" name="next"/>
                           
    </form>
 {% endblock %}
