{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<div class="well col-xs-4 col-xs-offset-4">
    <form role="form" method="post" action="{% url 'mbu.views.login' %}">
        <h1>Log In</h1>
        {% csrf_token %}

        <div class="socialLogin">
            <a href="/login/facebook"><img class="facebook" src="{% static "images/fb-login-icon.png" %}"></a>
            <a href="/login/google-plus"><img class="google" src="{% static "images/Red-signin_Long_base_44dp.png" %}"></a>
        </div>

        <div class="form-group">
            {{ form.username.label_tag}}
            {% render_field form.username class+='form-control' %}
        </div>

        <div class="form-group">
            {{ form.password.label_tag }}
            {% render_field form.password class+='form-control' %}
        </div>

        <div class="loginError"></div>
        <div class="formFooter"></div>
        <div class="formFooterButtons"><button type="submit"><span>Log In</span></button></div>
        <span class="link muted">Not registered? <a href="{% url 'mbu.views.signup' %}">Sign Up</a>
        <input type="hidden" value="{{next}}" name="next"/>
                           
    </form>
</div>
 {% endblock %}
