<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   <h4 class="modal-title" id="myModalLabel">{{ council_modal_title }}</h4>
</div>
<div class="modal-body">
   <form method="post" action="/register/council" id="add_council_form">
      {% csrf_token %}
      {{ council_modal_form.as_p }}
      <input type="submit" id="add_council_form-submit" />
   </form>
</div>
<div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <label class="btn btn-primary" for="add_council_form-submit">Add Council</label>
</div>
