{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <form method="post" action=".">
        <table>
            {% csrf_token %}
            {{ form }}
            {{ formset }}
            <tr>
                <td> <input type="submit" value="Register" /> </td>
            </tr>
        </table>
    </form>
    <a data-toggle="modal" class="btn btn-primary" href="#add_troop_modal">Add Troop</a>
    {% include "registration/add_troop_modal.html" %}
    {% include "registration/add_council_modal.html" %}
{% endblock %}