{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <form method="post" action=".">

        {% csrf_token %}
        {{ form.as_p }}
    </form>
    <a id="open_council_modal" class="btn btn-primary" href="{% url 'register_council' %}" data-toggle="modal" data-target="#modal">Add Council</a>
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}