{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <form method="post" action=".">
        <table>
            {% csrf_token %}
            {{ form }}
            {{ formset }}
            <tr>
                <td> <input type="submit" value="Register" /> </td>
            </tr>
        </table>
    </form>
    <a id="open_modal" class="btn btn-primary" href="{% url 'register_troop' %}" data-toggle="modal" data-target="#modal">Is your troop not listed? Add it</a>
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}